.header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
/* MEDIA QUERIES */
/* tablet */
@media (max-width: 800px) {
    .navbar a {
        font-size: 1.25rem;
        margin: 1rem;
    }
}
/* mobile */
@media (max-width: 600px) {
    .navbar {
        padding: 0 1rem;
    }
   .navbar a {
       font-size: 1.1rem;
   }
}

