html {
  font-size: 62.5%;
}
/* .home {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}
.mountain1 {
  position: absolute;
  left: 0;
  bottom: 10vh;
  z-index: 1;
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0));
}
.mountain2 {
  position: absolute;
  transform: scaleX(-1);
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 43vh;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
}

i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  25%, 75% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
} */

/* .about {
  min-height: 100vh;
  font-size: 1.25em;
  width: 80vw;
  max-width: 1000px;
  padding: 2em 0;
  margin: 0 auto;
  line-height: 1.5em;
  text-justify: newspaper;
}
.about > p {
  margin: 1em 0;
}
.photos {
  display: flex;
  flex-wrap: wrap;  
}
.photos > figure {
  width: 30%;
  max-width: 300px;
  margin: 0.5em;
}
figure > img {
  width: 100%;
  height: auto;
}
figure > figcaption {
  text-align: center;
  font-size: 0.75em;
  font-style: italic;
} */
/* .skills {  
  height: 50vh;  
  display: flex;
  align-items: center;
  background-color: #000;
}
.skills > p {
  font-size: 1.5em;
  line-height: 1.5em;
  text-justify: newspaper;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
} */
/* }
.footer {
  text-align: center;
  padding: 1em 0;
  line-height: 2.5em;
}
.footer a {
  color: inherit;
} */

.theme-toggle {
  margin-left: 10px;
  width: 65px;
  height: 35px;
  background-color: #fe9677;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-start;
  transition: justify-content 2s;
}
.toggled {
  justify-content: flex-end;
}
.toggle {
  background-color: #26324f;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
