/* .app {
  text-align: center;
  min-height: 100vh; 
  background: rgb(6,0,11);
  background: linear-gradient(180deg, rgba(6,0,11,1) 0%, rgba(38,7,65,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.navbar {   
  background-color: black;  
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  padding-top: 1rem;  
}

.navbar a {
  margin: 1rem;
  text-decoration: none;
  color: #a641ff;
}

.navbar a:hover{
  color: papayawhip;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  
}

h2 {
  font-size: 1.75rem; 
  margin: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: papayawhip !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-radius: 50%;  
  width: 32rem;
  height: 32rem;
  margin: 0 auto;
  z-index: 1;
  background-color: #ffefd5eb;
  box-shadow: 0px 0px 30px 10px papayawhip;
}

.social-media-btn { 
  max-width: 3rem;
  margin: 0.5rem; 
}

.view-projects-btn {
  margin-top: 1.25rem;
  border-radius: 3px;
  background-color: black;
  color: papayawhip;
  padding: 1rem 1.75rem;
  text-decoration: none;
  transition: 0.5s;
}

.view-projects-btn:hover {
  transform: scale(1.1);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: #ffefd5eb;
  box-shadow: 0px 0px 15px 9px papayawhip;
  width: 40rem;
  height: 28rem;
  margin: 0 auto;
  z-index: 1;
  text-align: left;
  padding: 2rem;
}

.view-projects-tab {
  font-weight: bold;
  background: black;
  padding: 0 7px;
  text-decoration: none;
}

.view-projects-tab:hover{
  color: papayawhip !important;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: #ffefd5eb;
  box-shadow: 0px 0px 15px 9px papayawhip;
  width: 40rem;
  height: 30rem;
  margin: 0 auto;
  z-index: 1;
  text-align: left;
  padding: 1rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: #ffefd5eb;
  box-shadow: 0px 0px 15px 9px papayawhip;
  width: 40rem;
  height: 13rem;
  margin: 0 auto;
  z-index: 1;
  text-align: left;
  padding: 2rem;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .home-container {
    height: 90vw;
    width: 90vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .view-projects-btn {
    padding: 0.5rem 1rem;
  }
  .about-container, .contact-container, .projects-container {
    width: 90vw;
    height: auto;
  }
  .social-media-btn {
    width: 2rem;
  }
} */

body {
  background-color: #000;
}

.home {
  position: relative;
  height: 80vh;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  
  /* background-image: linear-gradient(180deg, #3e1851, #b65d9b, #fdbca2, #fe9677); 
  -webkit-background-image: linear-gradient(180deg, #3e1851, #b65d9b, #fdbca2, #fe9677); */
 
  background-image: linear-gradient(180deg, #000, #1e1e2e, #26324f);
  -webkit-background-image: linear-gradient(180deg, #000, #1e1e2e, #26324f); 
}

.mountain1 {
  z-index: 1;
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0));
}
.mountain2 {
  position: absolute;
  transform: scaleX(-1);
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 43vh;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
}
h2 {
  font-size: 30px;
  font-weight: 800;
}

i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
/*   animation-delay: 3s; */
/*   animation-duration: 5s;
  animation-delay: 5s; */
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  25%, 75% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}
.about {
  min-height: 100vh;
  color: white;
  font-size: 1.25em;
  width: 80vw;
  max-width: 1000px;
  padding: 2em 0;
  margin: 0 auto;
  line-height: 1.5em;
  text-justify: newspaper;
}
.about > p {
  margin: 1em 0;
}
.photos {
  display: flex;
  flex-wrap: wrap;  
}
.photos > figure {
  width: 30%;
  max-width: 300px;
  margin: 0.5em;
}
figure > img {
  width: 100%;
  height: auto;
}
figure > figcaption {
  text-align: center;
  font-size: 0.75em;
  font-style: italic;
}
.skills {
  color: white;
  font-size: 1.25em;
  width: 80vw;
  max-width: 1000px;
  margin: 20vh auto 10vh;
  line-height: 1.5em;
  text-justify: newspaper;
}
.header {
  height: 10vh;
  max-height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer {
  color: white;
  text-align: center;
  padding: 2em 0;
}
.navbar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;;
}
.twitter-tweet {
  margin: 0 auto;
}